    <h2><marquee>SUP</marquee></h2>
    <%= link_to "Add a link", new_link_path %>


<ul>
  <% @links.each do |link| %>
    <li>
    	<%= link_to link.title, link_path(link) %>
    	<ul>
    		<li><%= link_to "comments", link %>
    		</li>
    	</ul>
    </li>
  <% end %>

</ul>
<%= will_paginate @links %>